.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*grid-template-rows: 10vh 90vh;*/
  grid-gap: 10px;
  grid-template-areas:
          "h h h h h h h h h h h h"
          "n n c c c c c c c r r r";

}

.header {
grid-area: h;
}

.nav {
grid-area: n;
  border-radius: 25px;
}

.appWrapperContent {
grid-area: c;
  border-radius: 25px;
}

.rightSide {
  grid-area: r;
  border-radius: 25px;
}

.wrapper div {
  background-color: #eee;
  border-radius: 25px;
}

button {
  cursor: pointer;
  background-color: #ffd482;
  border: 2px solid #bbb;
  border-radius: 7%;
  color: #fff;
  padding: 3px 10px;
  font-size: 17px;
  font-weight: bold;
}

